# Logs
logs/**/*
!logs/.gitkeep
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
.yarn
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz
fi.env

# php
vendor
wordpress

# build artifacts
build
dist
*.zip

# Mac OS files
.DS_Store

# Environment files
.env
