.form-control,
.form-label {
  @include text-body;
}

.radio-grid {
  > *:not(:last-child) {
    margin-bottom: $space-2;
  }
}

.radio-panel {
  display: block;
  background-color: $white;
  cursor: pointer;
  user-select: none;
  padding: $btn-padding-x;
  border: $input-border-width solid transparent;

  &:hover {
    box-shadow: 0px 0px 8px $primary;
  }

  &.selected {
    box-shadow: 0px 0px 8px $primary;
    border-color: $primary;
  }
}

.radio-panel-label {
  @include text-body-bold;
}

.radio-panel-description {
  display: inline;
  font-size: 17px;
}

.form-content {
  @include media-breakpoint-up(sm) {
    margin: 0 auto;
    max-width: calc(585px + 2rem);
    padding: 0 1rem;
  }
}

.form-section {
  &:not(:first-child) {
    margin-top: $space-5;
  }

  > *:not(:first-child) {
    margin-top: $space-3;

    @include media-breakpoint-up(sm) {
      margin-top: $space-4;
    }
  }
}

.form-section-addon {
  margin-top: $space-4;
}

.form-group {
  margin-bottom: $space-4;

  label {
    margin-bottom: $space-1;
  }
}

.custom-select {
  border-radius: 0;
}

.custom-radio {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("graphics/radio.svg");

  &.checked {
    background: url("graphics/radio-checked.svg");
    width: 30px;
    height: 30px;
  }
}

legend {
  margin: 0;
}
