.root {
  position: relative;
}

.progress-steps {
  > *:not(:last-child)::after {
    background: url("graphics/chevron.svg");
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 9.26px;
    height: 15px;
    margin: 0 $space-2;

    @include media-breakpoint-up(sm) {
      margin: 0 $space-3;
    }
  }
}

.progress-text {
  font-family: $font-heading;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  font-size: 16px;

  @include media-breakpoint-up(sm) {
    font-size: 21.33px;
  }
}

.progress-stage-content-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.progress-stage-content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.progress-stage-content-exit {
  width: 100%;
  opacity: 1;
  transform: scale(1);
}

.progress-stage-content-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 20ms;
}

.summary-row:not(:last-child) > * {
  border-bottom: 1px solid $light-gray;
}
