.form-control,
.form-label {
  @include text-xs;
}

.radio-grid {
  > *:not(:last-child) {
    margin-bottom: $space-2;
  }
}

.radio-panel {
  display: block;
  background-color: $white;
  cursor: pointer;
  user-select: none;
  padding: $btn-padding-x;
  border: $input-border-width solid transparent;

  &:hover {
    box-shadow: 0px 0px 8px $primary;
  }

  &.selected {
    box-shadow: 0px 0px 8px $primary;
    border-color: $primary;
  }
}

.radio-panel-label {
  @include text-xs-bold;
}

.form-content {
  @include media-breakpoint-up(sm) {
    margin: 0 auto;
    max-width: 585px;
  }
}

.form-section {
  margin-top: $space-5;

  > *:not(:first-child) {
    margin-top: $space-4;
  }
}

.form-section-addon {
  margin-top: $space-4;
}

.form-group {
  margin-bottom: $space-4;

  label {
    margin-bottom: $space-1;
  }
}

.custom-select {
  border-radius: 0;
}

.custom-radio {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  padding: 0;

  background: url("../../graphics/radio.svg");

  &.checked {
    background: url("../../graphics/radio-checked.svg");
  }
}

legend {
  margin: 0;
}
