@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

$yiq-contrasted-threshold: 100;

$black: #212529;
$gray: #22262a;
$light-gray: #f8f8f8;

$primary: #00643b;
$primary-focus: #00643b;
$danger: #e3220c;
$secondary: #7a7c7f;
$body-bg: #f7f6f4;

// Fonts
$font-heading: bebas-neue-pro, sans-serif;
$font-regular: "Helvetica Neue", "Helvetica", Arial, "Lucida Grande", sans-serif;

@mixin text-xl {
  font-family: $font-heading;
  font-style: normal;
  font-weight: normal;
  font-size: 67.34px;
  line-height: 90%;
  text-transform: uppercase;
}

.text-xl {
  @include text-xl;
}

@mixin text-lg {
  font-family: $font-heading;
  font-style: normal;
  font-weight: normal;
  font-size: 50.52px;
  line-height: 90%;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 32px;
  }
}

.text-lg,
.text-l {
  @include text-lg;
}

@mixin text-md {
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 37.9px;
  line-height: 110%;
}

@mixin text-sm {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 28.43px;
  line-height: 120%;
}

@mixin text-sm-bold {
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 28.43px;
  line-height: 120%;
}

@mixin text-xs {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 21.33px;
  line-height: 130%;
}

.text-xs {
  @include text-xs;
}

@mixin text-xs-bold {
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 21.33px;
  line-height: 130%;
}

@mixin text-xxs {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

@mixin text-xxs-bold {
  font-family: $font-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
}

@mixin text-xxxs {
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
}

$font-family-sans-serif: $font-regular;
$headings-font-family: $font-family-sans-serif;

// Forms

$input-border-width: 2px;
$input-border-color: $black;
$input-border-radius: 0;
$input-focus-box-shadow: none;
$input-focus-border-color: $black;

// Buttons
$btn-font-family: $font-heading;
$btn-font-weight: bold;
$btn-link-hover-color: null;
$btn-padding-x: 24px;
$btn-padding-y: 8px;
$btn-border-radius: 0;
$btn-active-box-shadow: none;
