$space-1: map-get($map: $spacers, $key: 1);
$space-2: map-get($map: $spacers, $key: 2);
$space-3: map-get($map: $spacers, $key: 3);
$space-4: map-get($map: $spacers, $key: 4);
$space-5: map-get($map: $spacers, $key: 5);
