$space-1: map-get(
  $map: $spacers,
  $key: 1
);
$space-2: map-get(
  $map: $spacers,
  $key: 2
);
$space-3: map-get(
  $map: $spacers,
  $key: 3
);
$space-4: map-get(
  $map: $spacers,
  $key: 4
);
$space-5: map-get(
  $map: $spacers,
  $key: 5
);

.img-blend {
  mix-blend-mode: darken;
}

.text-bebas-neue {
  font-family: $font-heading !important;
}

.text-black {
  color: $black !important;
}

.bg-toxic-green {
  background-color: #52df00 !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.h-200px {
  height: 200px !important;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.text-no-transform {
  text-transform: none !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-size-cover {
  background-size: cover !important;
}

.bg-position-center {
  background-position: center !important;
}
